@inherits System.Web.Mvc.WebViewPage<dynamic>

@{
    View.Title = "Process";
    LayoutPage = "~/Views/Shared/Layout.cshtml";
}

@section Head
{
<script type="text/javascript" src="/scripts/cart.js"></script>
}

@section Title
{
<section id="title">
	<header>
	  <h1>Cart5 - Processing Order</h1>
	</header>
</section>
}    

    <div id="status">
		<img src="/images/ajax-loader.gif"/> Processing Payment, Please wait..
	</div>
	<script type="text/javascript">
		var myCart=new cart();		
		myCart.loadCart();		
        setTimeout(function () { 
		myCart.clearCart();
		var html='<strong>Order completed!!</strong> We take 3-4 business days to deliver your order.<br/> <a href=\'/Shop/Index\'>Shop more!</a>';
		document.querySelector("#status").innerHTML=html;
        }, 6000);
    </script>

